
.post-grid-item {
    transition: box-shadow ease-in-out 0.3s;
    box-shadow: 0 0 0rem 1px rgba(#000, 0.05);
    border-radius: $radius-var;
    border: 1px solid $light;
    overflow: hidden;

    .post-info {
        padding: 7px;
        display: flex;

        .post-info-icon {
            height: 20px !important;
            width: 20px !important;
            min-width: 20px !important;
        }

        .post-info-text {
            font-size: 12px;
            display: flex;
            align-items: center;
            padding: 0 7px;
        }

        &-author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100px;
        }

        &-date {
            white-space: nowrap;
        }
    }
    // hover item
    &:hover {
        box-shadow: 0 0 10rem rgba(#000, 0.1);
        border-color: #fff;

        .post-grid-link {
            color: $primary;
        }

        .post-grid-desc {
            color: #000;
        }

        .post-grid-more {
        }
    }
}
