
<MContainer>
	<MFooter Light Padless>
		<MCard Flat Tile Light Class="flex">
			<MCardText Class="py-0 text-center">
				Power By .NET6 & Blazor
			</MCardText>

			<MCardText Class="py-0 text-center">
				&copy; @DateTime.Now.Year - <strong>Memoyu</strong>
				- <a class="b-footer-other" target="_blank" href="https://beian.miit.gov.cn/">桂ICP备20005450号</a>
			</MCardText>
		</MCard>
	</MFooter>
</MContainer>

