@inherits LayoutComponentBase
<MApp Light>
    <NavMenu/>

     <MMain Class="fill-lighten-1" Style="padding-top:60px">
        <div class="pa-6 max-width">
            @Body
        </div>
    </MMain>

    <Footer/>
</MApp>
