@inject NavigationManager Nav

<header class="b-nav-menu">
    <MContainer Class="d-md-flex">
        <div class="text-md-start text-center me-md-auto">
            <span class="b-nav-menu-title">Memoyu</span>
            <div class="b-nav-menu-desc">知行合一</div>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="b-nav-menu-items">
                <MMenu OpenOnHover OffsetY Bottom Right CloseOnContentClick="false" ValueChanged="OnOpen" Value="_open" MinWidth="@("auto")" Style="border: 0.5px solid #E9EDF7;box-sizing: border-box;" Class="rounded-2">
                    <ActivatorContent>
                        <MButton Text @attributes=context.Attrs Color="primary">
                            @_selectedNav.Title
                            <MIcon Right>
                                mdi-chevron-down
                            </MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MList Class="pb-0" Style="min-width:200px;">
                            <MListItemGroup>
                                @foreach (var nav in _navs)
                                {
                                    <MListItem Dense OnClick="()=>NavigateTo(nav)" Class="px-2">
                                        <MListItemAction Class="mr-3">
                                            <MIcon Size=20 Color="neutral-lighten-3">@nav.Icon</MIcon>
                                        </MListItemAction>
                                        <MListItemContent>
                                            <span>@nav.Title</span>
                                        </MListItemContent>
                                    </MListItem>
                                }
                            </MListItemGroup>
                        </MList>
                    </ChildContent>
                </MMenu>
                <MDivider Vertical Class="mx-2"></MDivider>
                <MRow Dense >
                    <MCol>
                        <MButton Icon Color="black">
                            <MIcon>mdi-github</MIcon>
                        </MButton>
                    </MCol>
                    <MCol>
                        <MButton Icon Color="indigo">
                            <MIcon>mdi-wechat</MIcon>
                        </MButton>
                    </MCol>
                    <MCol>
                        <MButton Icon Color="green">
                            <MIcon>mdi-email-outline</MIcon>
                        </MButton>
                    </MCol>
                </MRow>
                <MDivider Vertical Class="mx-2"></MDivider>
            </div>
        </div>
    </MContainer>
</header>

@code {
    Nav _selectedNav;

    List<Nav> _navs = new List<Nav>
    {
    new Nav(1, "", "mdi-file-certificate-outline", "Categories"),
    new Nav(2, "", "mdi-tag-outline", "Tags"),
    new Nav(3, "", "mdi-link", "Links"),
    new Nav(4, "", "mdi-dots-horizontal-circle-outline", "Other"),
    };

    bool _open;

    protected override void OnInitialized()
    {
        _selectedNav = _navs[0];
    }


    void OnOpen(bool open)
    {
        _open = open;
        if (open is true)
        {
        }
    }

    void NavigateTo(Nav nav)
    {
        _selectedNav = nav;
        Nav.NavigateTo(nav.Href);
    }
}
