@inject NavigationManager Nav

<header class="b-nav-menu">
    <MContainer Class="d-md-flex">
        <div class="text-md-start text-center me-md-auto">
            <span class="b-nav-menu-title">Memoyu</span>
            <div class="b-nav-menu-desc">知行合一</div>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="b-nav-menu-items">
                @foreach (var nav in _navs)
                {
                    <MButton Text Color="primary" OnClick="() => NavigateTo(nav)" IsActive=@(_selectedNav.Id == nav.Id) Class="mx-2 font-weight-medium">
                        @nav.Title
                    </MButton>
                }
                <MRow Dense>
                    <MCol Align="AlignTypes.Center">
                        <MButton Icon Color="black">
                            <MIcon>mdi-github</MIcon>
                        </MButton>
                    </MCol>
                    <MCol>
                        <MButton Icon Color="indigo">
                            <MIcon>mdi-wechat</MIcon>
                        </MButton>
                    </MCol>
                </MRow>
            </div>
        </div>
    </MContainer>
</header>

@code {
    Nav _selectedNav;

    List<Nav> _navs = new List<Nav>
    {
    new Nav(1, "", "mdi-file-certificate-outline", "分类"),
    new Nav(2, "", "mdi-tag-outline", "标签"),
    new Nav(3, "", "mdi-link", "友链"),
    new Nav(4, "", "mdi-dots-horizontal-circle-outline", "其他"),
    };

    bool _open;

    protected override void OnInitialized()
    {
        _selectedNav = _navs[0];
    }


    void OnOpen(bool open)
    {
        _open = open;
        if (open is true)
        {

        }
    }

    void NavigateTo(Nav nav)
    {
        _selectedNav = nav;
        Nav.NavigateTo(nav.Href);
    }
}
