@page "/post"

<MContainer>
    <div class="mr-n3">
        <MRow>
            @foreach (var item in _postData.Items)
            {
                <MCol Md=12 Sm=12>
                    <div class="post-grid-item">
                        <MCard Elevation=0 Class="rounded-6 content">
                            <MImage Height=260 Contain Src="@item.ThumbnailUrl" Class="hover-pointer" @onclick="()=>NavigateToDetails(item.Id)"></MImage>
                            <MCardText Class="pa-3">
                                <div class="text-subtitle text-truncate my-1">@item.Title</div>
                                <div class="text-truncate text-body3 neutral-lighten-2--text">@item.Subtitle</div>
                            </MCardText>
                            <div class="block-between text-center">
                            </div>
                        </MCard>
                    </div>
                </MCol>
            }
        </MRow>
    </div>
</MContainer>